@mixin font-faces(
	$font-family-name,
	$font-weights-styles,
	$font-file-path-base
) {
	@each $weight, $styles in $font-weight-styles {
		@each $style in $styles {
			@font-face {
				font-weight: $weight;
				font-family: $font-family-name;
				font-style: $style;
				src: url('#{$font-file-path-base}-#{$weight}-#{$style}.woff2')
					format('woff2');
			}
		}
	}
}
